<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/frontend/images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com"  crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Neucha&family=Sedgwick+Ave&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3ac55bcfa1.js"  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/frontend/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orinoco - Les Oursons</title>
</head>
<body>
    <!--Header-->
    <header>
        <div class="logo">
            <a href="/frontend/view/index/index.html"><img src="/frontend/images/logo_Orinoco.png" alt="Logo de la boutique Orinoco"></a>
        </div>
        <!--naviagation bar-->
        <nav class="navigation">
            <ul>
                <li>
                    <a href="/frontend/view/index/index.html" class="navigation_list">Nos produits</a>
                </li>
                <li><a href="/frontend/view/panier/panier.html" class="navigation_list">
                    <span id="quantityBasket"></span>
                    <i class="fa fa-shopping-basket iconBasket" aria-hidden="true"></i>
                    <span class="wordBasket">Panier</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <!--main-->
    <main>
        <!--banner's title-->
        <section class="bannerConfirm">
            <h1 class="title">Confirmation de commande</h1>
        </section>
        <!--resume of commande-->
        <section class="ResumeCommande">
            <h2>Merci pour votre commande!</h2>
            <p class="confirmation">Confirmation de votre commande n° <span id="IdOrder"> </span> d'un montant de : <span id="PriceOrder"></span></p>
            <p>A bientôt, sur notre site!</p>
        </section>
    </main>
    <!--footer-->
    <footer>
        <!--social network link-->
        <div class="social_network">
            <h3>Suivez-nous</h3>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook social_icon" aria-hidden="true"></i></a>
            <a href="https://twitter.com/home?lang=fr" target="_blank"><i class="fa fa-twitter social_icon" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/?hl=fr" target="_blank"><i class="fa fa-instagram social_icon" aria-hidden="true"></i></a>
        </div>
        <!--services's list-->
        <div class="services">
            <h3>Aides et engagements</h3>
            <ul class="service_list">
                <li><a href="#" class="service_item">Conditions générale de vente</a></li>
                <li><a href="#" class="service_item">F.A.Q</a></li>
                <li><a href="#" class="service_item">Le groupe Orinoco</a></li>
                <li><a href="#" class="service_item">Contact</a></li>
            </ul>
        </div>
    </footer>
    <script src="/frontend/js/utils.js"></script>
    <script src="/frontend/view/confirmation/confirmation.js"></script>
</body>
</html>